/* NAV INFO BAR CSS */

li {
    list-style: none;
}

.nav_info_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 24px;
    box-shadow: rgba(50, 50, 93, 0.23) 0 7px 7px 0;
    background-color: #000b3d;
}

.nav_info_bar_items {
    display: flex;
    justify-content: space-between;
    flex-basis: 65%;
    color: var(--textColorLight);
    font-size: smaller;
}

@media (max-width: 1024px) {
    .nav_info_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 22px;
        box-shadow: none;
        background-color: #000b3d;
    }
}

/* END NAV INFO BAR CSS */