/* HOME CSS */

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', 'Arial', sans-serif;
}

.product_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 40px 0;
}

.button_bar {
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.products>h1 {
    width: 74%;
    text-align: center;
    margin-top: 12px;
    box-shadow: rgba(50, 50, 93, 0.23) 0 7px 7px 0;
}

/* END OF HOME CSS */