/* PRODUCT DETAILS */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 1000px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 17px;
    padding: 12px;
    font-weight: 300;
    position: relative;
    box-shadow: -1px 6px 20px -2px rgba(120, 116, 116, 0.81);
    -webkit-box-shadow: -1px 6px 20px -2px rgba(120, 116, 116, 0.81);
    -moz-box-shadow: -1px 6px 20px -2px rgba(120, 116, 116, 0.81);
    max-width: 600px;
}

.product_card p:last-of-type {
    margin: 16px 0 4px 0;
}

.product_heart_icon {
    background-color: #597B9B;
    color: aliceblue;
    border-radius: 4px;
    padding: 4px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.product_image {
    max-width: 250px;
    max-height: 250px;
}

.price {
    text-align: center;
    font-weight: bold;
    color: red;
}

.btn_back{
    background-color: var(--buttonColor);
    color: var(--textColorLight);
    border-radius: 4px;
    cursor: pointer;
}

.btn_product_card {
    width: 300px;
    background-color: var(--buttonColor);
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: var(--textColorLight);
}

/* END OF PRODUCT DETAILS */